<h1>Stupid Coaching</h1>

<div style="border-left: 2px solid light-grey;">
    <p><%= @question %></p>
    <p>-You</p>
</div>

<div style="border-left: 2px solid light-grey;">
    <p><strong><%= @answer %></strong></p>
    <p>-Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>